<section class="main__section" ng-repeat="data in datas">
    <h2 class="question">{{data.question}}</h2>
    <div class="variants__block">
        <div class="variants" ng-repeat="variant in data.variants">
            <div class="variants__img" id={{variant.id}} ng-click="checkControl()">
                <img class="variants__img" src={{variant.img}} alt="">
                <div class="image__overlay"></div>
            </div>
            <p class="variants__text">{{variant.text}}</p>
        </div>
    </div>

    <div class="points">
        <ul>
            <li class="active"></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</section>