<section ng-repeat="data in datas" class="main__section" ng-class="{slide : data.selected}">
    <h2 class="question">{{data.question}}</h2>
    <div class="variants__block">
        <div class="variants" ng-style="objWidth" ng-repeat="variant in data.variants">
            <div class="variants__img" id={{variant.id}} ng-click="checkControl()" ng-model="selected">

                <img class="variants__img" src={{variant.img}} alt="">
                <div class="image__overlay">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 1062 1062" style="enable-background:new 0 0 1062 1062;" xml:space="preserve">
                        <style type="text/css">
                            .st0 {
                                fill: #FFFFFF;
                            }
                        </style>
                        <path class="st0" d="M792.5,350.5c-10-10-26.2-10-36.2,0L449.6,657.2L331.7,539.3c-10-10-26.2-10-36.2,0c-10,10-10,26.2,0,36.2
	l136,136c10,10,26.2,10,36.2,0l324.8-324.8C802.5,376.7,802.5,360.5,792.5,350.5z" />
                        <path class="st0" d="M531,1061.4c-71.6,0-141.1-14-206.4-41.7C261.4,993,204.7,954.7,156,906C107.3,857.3,69,800.6,42.3,737.4
	C14.7,672.1,0.6,602.6,0.6,531s14-141.1,41.7-206.4C69,261.4,107.3,204.7,156,156S261.4,69,324.6,42.3C389.9,14.7,459.4,0.6,531,0.6
	c71.6,0,141.1,14,206.4,41.7C800.6,69,857.3,107.3,906,156s86.9,105.4,113.7,168.6c27.7,65.4,41.7,134.9,41.7,206.4
	s-14,141.1-41.7,206.4C993,800.6,954.7,857.3,906,906c-48.7,48.7-105.4,86.9-168.6,113.7C672.1,1047.3,602.6,1061.4,531,1061.4z
	 M531,20.6c-281.4,0-510.4,229-510.4,510.4c0,281.4,229,510.4,510.4,510.4s510.4-229,510.4-510.4C1041.4,249.6,812.4,20.6,531,20.6z
	" />
                    </svg>
                </div>
            </div>
            <p class="variants__text">{{variant.text}}</p>
        </div>
    </div>

    <div class="points">
        <ul class="pointsCircle">
            <li class="active"></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</section>